.container {
    border: 5px solid hotpink;
    display: flex;
    /*flex-direction: row;*/
    /*flex-wrap: nowrap;*/
}

.item {
    width: 300px;
    height: 100px;
    margin: 1em;
    border: 1px solid darkorange;
    background-color: turquoise;
    text-align: center;
    flex: 1 1 auto;
    /* flex-grow, flex-shrink, flex-basis */
}