* {
    border: 2px solid palevioletred;
}

div {
    height: 100px;
    width: 100px;
    background-color: red;
    color: #fff;
}

#relative {
    position: relative;
    top: 20px;
    left: 20px;
    background-color: green;
}